<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{_layouts/base :: head(~{::title})}">
    <title th:fragment="title">Detalhes da Categoria</title>
</head>
<body>
<main th:replace="~{_layouts/base :: layout(~{::content})}">
    <div th:fragment="content">
        <div class="container mt-4">
            <h2>Detalhes da Categoria</h2>
            <hr>
            <dl class="row">
                <dt class="col-sm-2">ID</dt>
                <dd class="col-sm-10" th:text="${category.id}"></dd>
                <dt class="col-sm-2">Nome</dt>
                <dd class="col-sm-10" th:text="${category.name}"></dd>
            </dl>
            <a href="/categories" class="btn btn-secondary">Voltar</a>
            <a th:href="@{'/categories/' + ${category.id} + '/edit'}" class="btn btn-info">Editar</a>
        </div>
    </div>
</main>
</body>
</html>
